<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>{{maintitle}}</h1>
        <h3>Make recipes, shopping lists and some new friends.</h3>
        <p><a class="btn btn-primary btn-lg" href="#/new-recipe" role="button">Create a recipe &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Latest Recipe</h2>
          <p>Some kind of IPA. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Latest Member</h2>
          <p>Someone brewing an IPA. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Recommended Beer</h2>
          <p>Our favorite non-IPA of the moment.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3 top-padding">
          <h3>Welcome!</h3>
          <p>Beer recipe app thing is a place to discover new beer recipes, make quick and easy shopping lists for new batches and make some connections with other home brewers.</p>
          <p>Start by creating a new recipe or just searching through the existing library of brew recipes already here. When you find a recipe you want to try, create a new shopping list from the link on the recipe.</p>
        </div>
      </div>

      <hr>