<h1>{{recipetitle}}</h1>

<div>
  <!-- <article class="form_wrap"> -->
    <form class="form-horizontal" ng-submit="addRecipe()">
      <div id="beerForm">
        <div class="form-group">
          <span class="col-sm-3 control-label">Beer Name: </span>
          <span class="col-sm-9"><input class="form-control" type="text" ng-model="beer_name" /></span>
        </div>
        <div class="form-group">
          <span class="col-sm-3 control-label">Beer Style: </span>
          <span class="col-sm-9"><input class="form-control" type="text" ng-model="beer_style" /></span>
        </div>
        <div class="form-group">
          <span class="col-sm-3 control-label">Beer ABV: </span>
          <span class="col-sm-9"><input class="form-control" type="text" ng-model="beer_abv" /></span>
        </div>

        <div style="padding-top: 10px; border-top: 1px solid #ccc;">
          <h4>Grains</h4>
          <div ng-repeat="grains in grains_list">
            <span>{{grains.grains_type}}: </span> <span> {{grains.grains_amount}}</span>
          </div>
          <div class="form-group">
            <span class="col-sm-3 control-label">Grain Type: </span>
            <span class="col-sm-9"><input class="form-control" type="text" ng-model="grains_type" /></span>
          </div>
          <div class="form-group">
            <span class="col-sm-3 control-label">Grain Amount: </span>
            <span class="col-sm-9"><input class="form-control" type="text" ng-model="grains_amount"/></span>
          </div>
        </div>
        <div style="padding-bottom: 10px;">
          <div class="btn btn-large btn-primary" ng-click="pushGrains()">Add These Grains</div>
        </div>

        <div style="padding-top: 10px; border-top: 1px solid #ccc;">
          <h4>Hops</h4>
          <div ng-repeat="hops in hops_list">
            <span>{{hops.hops_type}}: </span> <span> {{hops.hops_amount}}</span>
          </div>
          <div class="form-group">
            <span class="col-sm-3 control-label">Hops Type: </span>
            <span class="col-sm-9"><input class="form-control" type="text" ng-model="hops_type" /></span>
          </div>
          <div class="form-group">
            <span class="col-sm-3 control-label">Hops Amount: </span>
            <span class="col-sm-9"><input class="form-control" type="text" ng-model="hops_amount"/></span>
          </div>
        </div>
        <div style="padding-bottom: 10px;">
          <p><div class="btn btn-large btn-primary" ng-click="pushHops()">Add These Hops</div></p>
        </div>

        <div style="padding-top: 10px; border-top: 1px solid #ccc;">
          <h4>Yeast</h4>
          <div ng-repeat="yeast in yeast_list">
            <span>{{yeast.yeast_type}}: </span> <span> {{yeast.yeast_amount}}</span>
          </div>
          <div class="form-group">
            <span class="col-sm-3 control-label">Yeast Type: </span>
            <span class="col-sm-9"><input class="form-control" type="text" ng-model="yeast_type" /></span>
          </div>
          <div class="form-group">
            <span class="col-sm-3 control-label">Yeast Amount: </span>
            <span class="col-sm-9"><input class="form-control" type="text" ng-model="yeast_amount"/></span>
          </div>
        </div>
        <div style="padding-bottom: 10px; border-bottom: 1px solid #ccc;">
          <p><div class="btn btn-large btn-primary" ng-click="pushYeast()">Add This Yeast</div></p>
        </div>


        <div style="padding-top: 10px; border-top: 1px solid #ccc;">
          <h4>Other Ingredients</h4>
          <div ng-repeat="other in other_list">
            <span>{{other.other_ingredient}}: </span> <span> {{other.other_amount}}</span>
          </div>
          <div class="form-group">
            <span class="col-sm-3 control-label">Other Ingredient: </span>
            <span class="col-sm-9"><input class="form-control" type="text" ng-model="other_ingredient" /></span>
          </div>
          <div class="form-group">
            <span class="col-sm-3 control-label">Other Amount: </span>
            <span class="col-sm-9"><input class="form-control" type="text" ng-model="other_amount"/></span>
          </div>
        </div>
        <div style="padding-bottom: 10px; border-bottom: 1px solid #ccc;">
          <p><div class="btn btn-large btn-primary" ng-click="pushOther()">Add This Ingredient</div></p>
        </div>


        <div class="form-group" style="padding-top: 10px;">
          <span class="col-sm-3 control-label">Original Gravity: </span>
          <span class="col-sm-9"><input class="form-control" type="text" ng-model="orig_grav" /></span>
        </div>

        <div class="form-group">
          <span class="col-sm-3 control-label">Final Gravity: </span>
          <span class="col-sm-9"><input class="form-control" type="text" ng-model="final_grav" /></span>
        </div>

        <div class="form-group">
          <span class="col-sm-3 control-label">Brew Difficulty: </span>
          <span class="col-sm-9">
            <select class="form-control" name="brew_difficulty" ng-model="brew_difficulty">
              <option value="Easy">Easy</option>
              <option value="Medium">Medium</option>
              <option value="Advanced">Advanced</option>
            </select>
          </span>
        </div>

        <div class="form-group">
          <span class="col-sm-3 control-label">Batch Size: </span>
          <span class="col-sm-9">
            <select class="form-control" name="batch_size" ng-model="batch_size">
              <option value="1">1 gal</option>
              <option value="3">3 gal</option>
              <option value="5">5 gal</option>
            </select>
          </span>
        </div>

        <div class="form-group">
          <span class="col-sm-3 control-label">Instructions: </span>
          <span class="col-sm-9"><input class="form-control" type="text" ng-model="brew_instructions"></span>
        </div>

        <div>
          <p></p>
            <input type="submit" value="Create Recipe" class="btn btn-large btn-primary btn-input" /></input>
        </div>
      </div><!-- close beerForm -->
      
      <input type="hidden" name="grains_list" ng-model="grains_list" />
      <input type="hidden" name="hop_list" ng-model="hop_list" />
      <input type="hidden" name="yeast_list" ng-model="yeast_list" />
      <input type="hidden" name="other_list" ng-model="other_list" />


    </form>
  <!-- </article> - /form_wrap - -->
</div><!-- - /page_html - -->