<h1>{{recipetitle}}</h1>

<div>
  <article class="form_wrap">
    <form ng-submit="addRecipe()">
      <table>
        <tr>
          <td class="label">Beer Name</td>
          <td class="input"><input type="text" ng-model="beer_name" /></td>
        </tr>
        <tr>
          <td class="label">Beer Style</td>
          <td class="input"><input type="text" ng-model="beer_style" /></td>
        </tr>
        <tr>
          <td class="label">Beer ABV</td>
          <td class="input"><input type="text" ng-model="beer_abv" /></td>
        </tr>
        <tr>
          <td class="label">Grain Type</td>
          <td class="input"><input type="text" ng-model="grains_type" /></td>
        </tr>
        <tr>
          <td class="label">Grain Amount</td>
          <td class="input"><input type="text" ng-model="grains_amount" /></td>
        </tr>
        <tr>
          <td class="label">Hops Type</td>
          <td class="input"><input type="text" ng-model="hops_type" /></td>
        </tr>
        <tr>
          <td class="label">Hops Amount</td>
          <td class="input"><input type="text" ng-model="hops_amount" /></td>
        </tr>
        <tr>
          <td class="label">Yeast Type</td>
          <td class="input"><input type="text" ng-model="yeast_type" /></td>
        </tr>
        <tr>
          <td class="label">Yeast Amount</td>
          <td class="input"><input type="text" ng-model="yeast_amount" /></td>
        </tr>
        <tr>
          <td class="label">Original Gravity</td>
          <td class="input"><input type="text" ng-model="orig_grav" /></td>
        </tr>
        <tr>
          <td class="label">Final Gravity</td>
          <td class="input"><input type="text" ng-model="final_grav" /></td>
        </tr>
        <tr>
          <td class="label">Brew Difficulty</td>
          <td class="input">
            <select name="brew_difficulty" ng-model="brew_difficulty">
              <option value="Easy">Easy</option>
              <option value="Medium">Medium</option>
              <option value="Advanced">Advanced</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="label">Batch Size</td>
          <td class="input">
            <select name="batch_size" ng-model="batch_size">
              <option value="1">1 gal</option>
              <option value="3">3 gal</option>
              <option value="5">5 gal</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="label">Other</td>
          <td class="input"><input type="text" ng-model="other" /></td>
        </tr>
        <tr>
          <td class="label">Brew Instructions</td>
          <td class="input"><input type="text" ng-model="brew_instructions"></td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align:right">
            <input type="submit" value="Create Recipe" class="btn btn-large btn-primary" /></input>
          </td>
        </tr>
      </table>
      
    </form>
  </article><!-- - /form_wrap - -->
</div><!-- - /page_html - -->