<div class="page_html">
 <header class="hi"><span class="color_b">Shop for: {{beer_recipe.beer_name}}</span></header>
  <article class="list_wrap">
    <div class="item_wrap">
      <div class="item_data">
      	<table>
			<tr>
				<td>Grains: {{beer_recipe.grains_type}} {{beer_recipe.grains_amount}}</td>
			</tr>
			<tr>
				<td>Hops: {{beer_recipe.hops_type}} {{beer_recipe.hops_amount}}</td>
			</tr>
			<tr>
				<td>Yeast: {{beer_recipe.yeast_type}} {{beer_recipe.yeast_amount}}</td>
			</tr>
			<tr>
				<td>Size: {{beer_recipe.batch_size}} gals</td>
			</tr>
		</table>
      </div><!-- - /item_data - -->
    </div><!-- - /item_data - -->
  </article><!-- - /list_wrap - -->
</div><!-- - /page_html - -->